---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: AlignWithSpaces
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 120
IndentCaseBlocks: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
InsertTrailingCommas: Wrapped
SpaceBeforeRangeBasedForLoopColon: false
InsertBraces: true
